* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;

}

body {
  background-color: #000000;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

body::-webkit-scrollbar {
  width: 6px;
}

.header-nav {
  position: relative;
  color: #fff;
  padding: 50px 50px 0px;

}

#logo {
  font-weight: 400;
  font-size: 18px;
  float: left;
}

.header-nav #weight-more {
  font-weight: 600;
}

.header-nav .extension {
  font-weight: 200;
  font-size: 20px;
  font-style: italic;
}

.header-nav a {
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  /* line-height: 20px; */
  color: #fff;
  font-weight: 400;
  float: right;
  margin-right: 40px;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}

.header-nav a #contact-btn {
  color: #fff;
  font-size: 18px;

}

.header-nav a #contact-btn .material-symbols-outlined {
  text-decoration: underline;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

.material-symbols-outlined {
  margin: 0 0 5px 5px;
}

#homepage-title {
  width: 50%;
}

.banner-content .banner-title-1 #homepage-title {
  position: relative;
  top: 200px;
  margin-left: 200px;
  display: block;
  color: #fff;
  font-weight: 400;
  font-size: 70px;
  line-height: 80px;
  margin-bottom: 0;


}

.banner-content .banner-title-2 #homepage-title {
  position: relative;
  top: 200px;
  margin-left: 200px;
  display: block;
  color: #fff;
  font-weight: 400;
  font-size: 80px;
  line-height: 80px;
  margin-bottom: 0px;

}

.banner-desc p {
  font-family: Poppins, sans-serif;
  position: relative;
  top: 250px;
  margin-left: 200px;
  font-size: 18px;
  line-height: 26px;
  color: #fff;
  font-weight: 200;
  max-width: 250px;

}


.projects-circle a {
  width: 180px;
  height: 180px;
  display: flex;
  float: right;
  margin-right: 15%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 15px;
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  cursor: pointer;
  background-image: linear-gradient(45deg, #fff 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  background-color: transparent;
  transition: background-color 350ms ease-in-out;
}

.projects-circle a:hover {
  background-position: 0;
  color: #000;
  transition: all 0.3s;


}

.projects-circle a:hover svg path {
  fill: #000;
  stroke: #000;
}

.projects-circle svg {
  height: 50px;
  width: 50px;
  margin-bottom: 4px;

}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  z-index: 9999;
  transition: transform 0.2s ease;

}

.honors {
  background-color: whitesmoke;
  width: 3.5%;
  height: 23%;
  display: flex;
  flex-direction: column;
  position: fixed;
  margin-left: 98%;
  margin-top: 70px;
  cursor: pointer;

}

.honors span {
  margin: 12px;


}

#text-1,
#text-2 {
  display: block;

}

#text-1 {
  font-weight: 700;
  font-size: 25px;
}

#text-2 {
  margin-top: 60px;
  transform: rotate(270deg);
  text-align: center;
  justify-content: center;
  font-weight: 500;

}


.services-block {
  margin-top: 50%;
  color: #fff;
  font-family: Poppins, sans-serif;
  margin-bottom: 30px;
  text-align: left;
  margin-left: 15%;
  height: 400px;
  /* background-color: red; */
  width: 50%;
  height: 700px;
}

.services-block h3 {
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 50px;
}

.services-block p {
  /* background-color: red;  */
  width: 60%;
  margin-top: 60px;
  font-size: 14px;
  font-weight: 300;
  margin-left: 20px;

}

#second-p {
  margin-top: 7px;
}


.second a {
  margin-right: 8%;
  margin-top: -50px;
}


/* kabin */
* {
  /* background-color: #000000; */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: Poppins;
}

h2 {
  color: white;
  font-size: 50px;
}

.sep {
  color: #5e5e5e;
}

.product-left {
  width: 45%;
}

.bloc-header {
  margin: 80px 50px 50px 200px;
}

.product-right {
  translate: none;
  rotate: none;
  scale: none;
  will-change: auto;
}

.aime-image {
  margin-left: 700px;
  margin-top: -350px;

}

.products {
  margin-left: 50px;
}

.title {
  color: white;
  text-decoration: none;
  margin-left: 300px;
  margin-top: -45px;



}

.hg-image {
  margin-left: 300px;
  width: 5px;
  height: 500px;
}

img {
  height: 400px;
  margin-top: 50px;
}

.ene-image {
  margin-left: 300px;
  height: 100%;
  display: flex;

}

.ama-image {
  margin-left: 650px;
  margin-top: -200px;

}

.amatis-image {
  width: 50%px;

}

.bloc-header .h2 {
  color: rgb(110, 103, 103);
  font-size: 50px;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

/*nafisaa*/



* {
  /* margin: 0;
  padding: 0; */
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

/* contaber START */
.contaner {
  width: 80vw;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0%;

}

.lcontent {
  width: 100%;
  height: 100%;
  /* background-color: white; */
  display: flex;
  justify-content: space-evenly;
}

/* .pcontent {
  width: 80%;
  height: 80%;
  background: rgb(229, 196, 196);
} */

.left {
  width: 40%;
  height: 100%;
  /* background: white; */
  display: flex;
  justify-content: end;
  align-items: center;
  margin-right: 10vh;
}

/* .nafisa {
  height: 50%;
  width: 80%;
  background-color: white;
} */

.right {
  height: 100%;
  color: white;
  /* background-color: white; */
  display: flex;
  justify-content: end;
  align-items: center;
  float: right;
  width: 75%;
  margin-top: 0%;

}

.balmiki {
  width: 150%;
  height: 50%;
}

.text {
  width: 100%;
  height: 20%;
}

.left h2 {
  font-size: 50px;

}

/* .circle {
  width: 180px;
  height: 180px;
  border-radius: 200px 200px 200px 200px;
  background: black;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Poppins sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  transition: all 0.5s ease-in-out;



} */

.circle:hover {
  background-color: white;
  color: white;

}


/* .innercircle {
  width: 200px;
  height: 200px;
} */

.circle img {
  width: 50px;
  height: 50px;
  rotate: 140deg;

}

.circle img:hover {
  background-color: white;
  color: black;
  border-radius: 200px 200px 200px 200px;
}

.circle p {
  font-size: 30px;
  justify-content: center;
}

hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 1px solid #211e1e;
  margin: 4em 0;
  width: 120px;

}


.first {
  font-size: 14px;
  font-family: Poppins sans-serif;
  line-height: 18px;
  font-weight: 200;
}

.first h1 {
  font-weight: 400px;
  line-height: 20px;
  font-size: 20px;
  margin-bottom: 20px;

}

.first p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  /* margin-inline-start: 0px;
  margin-inline-end: 0px; */

}

.second {
  font-size: 14px;
  font-family: Poppins sans-serif;
  line-height: 18px;
  font-weight: 200;

}

.second h1 {
  font-weight: 400px;
  line-height: 20px;
  font-size: 20px;
  margin-bottom: 20px;
}

.second p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.third {
  font-size: 14px;
  font-family: Poppins sans-serif;
  line-height: 18px;
  font-weight: 200;
}

.third h1 {
  font-weight: 400px;
  line-height: 20px;
  font-size: 20px;
  margin-bottom: 20px;
}

.third p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.fourth {
  font-size: 14px;
  font-family: Poppins sans-serif;
  line-height: 18px;
  font-weight: 200;
}

.fourth h1 {
  font-weight: 400px;
  line-height: 20px;
  font-size: 20px;
  margin-bottom: 20px;
}

.fourth p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.cann {
  margin: 10%;
}

/* this is responsive part  */
@media only screen and (max-width: 400px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contaner {
    height: auto;
    width: 90vw;
  }

  .lcontent {
    flex-direction: column;
  }

  .left h2 {
    font-size: 38px;
  }

  .circle {
    display: none;
  }

}